body {
  background-color: #eae7dc;
}
#firstName,
#lastName {
  width: 50%;
}
input {
  margin: 5px;
}
.jumbotron {
  background-color: #eae7dc;
}
.form-group1 {
  display: flex;
}
.form-group2 {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 10px;
}
.heading {
  display: flex;
}
#emailLogin,
#passwordLogin {
  width: 30%;
  margin: 10px;
}
.btn,
.btn2 {
  background-color: #e98074;
  color: white;
  height: 50px;
}
#serve {
  color: #e85a4f;
}
.heading2 {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  width: 100%;
  margin-right: 20px;
}
.btn2 {
  margin: 10px;
}
ul {
  width: 100%;
}
li:nth-child(4) {
  text-align: right;
  width: 100%;
}

main {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  width: 100%;
  height: 80vh;
}
.facility {
  margin: 10px;
  height: 200px;
}

.reserveHead {
  background-color: #eae7dc;
}
@media screen and (max-width: 570px) {
  li:nth-child(4) {
    text-align: left;
  }
}
